---
export interface Props {
  name: string;
  description: string;
  language: string;
  projectLink?: string;
  type: string;
}

const { name, description, language, projectLink, type = "" } = Astro.props;
---

<a href={projectLink ?? ""} target="_blank" class="hover:no-underline">
  <div
    class="h-36 flex flex-col justify-between gap-y-2 border border-neutral-700 bg-themeBlack hover:scale-105 ease-out transition-transform p-4 rounded-xl"
  >
    <div class="flex flex-col gap-y-2">
      <span class="text-xl font-medium">{name}</span>
      <p class="text-(sm neutral-200)">{description}</p>
    </div>
    <div class="flex items-center gap-x-2 text-(sm neutral-200)">
      <div class="flex gap-x-1 items-center">
        {type}
      </div>

      <span>•</span>

      <div class="text-sm">{language}</div>
    </div>
  </div>
</a>
